*.tab
*.fastq
*.sra
*.mat

*.sqlite
*.index

.snakemake
.~lock.runs.csv#

*.bck
*.dsc

*log
*.out

*.aux
*.fdb_latexmk
*.fls
*.pdf
*.tex
*.bbl
*.blg
*~*
cache/

motif-reports/*Rnw

old/
output/
athamap/
logos/

